[type=radio]{
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

[type=radio] + img{
    cursor: pointer;    
    margin: 5%;
    height: 110px;
    transition-property: height, border;
    transition-delay: 0.25s;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

[type=radio]:checked + img{
    border: 5px solid #883E71;
    border-radius: 50px;
}

[type=radio] + img:hover{
    height: 115px;
}

#usergame{
    border: none;
}

.message{
    margin-top: 0%;
    color: #FF3F4C;
    font-family: 'Poppins', sans-serif;
}